<html>
<body>

<h2>Sign up</h2>

<form action="/user/update_new_user">
  <label for="email">name:</label><br>
  <input type="text" id="name" name="name" ><br>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email" ><br>
  <label for="password">password:</label><br>
  <input type="text" id="password" name="password" ><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
